<!-- Begin Footer-->
<div id="footer">
<div class="row">
<div class="col-md-3">
<h3>Trang Tin Tức</h3>
<ul>
<li class="arrow">Nhanh chóng</li>
<li class="arrow">Hiệu Quả</li>
<li class="arrow">Hiện Đại</li>
</ul>
</div>
<div class="col-md-3">
<h3>SEO GOOGLE</h3>
<ul>
<li class="arrow">Từ khóa top google</li>
<li class="arrow">Duy trì hàng tháng</li>
<li class="arrow">Bảo trì liên tục</li>
</ul>
</div>
<div class="col-md-3">
<h3>Về Chúng Tôi</h3>
<ul>
<li>Luôn hoàn thành dự án trong thời gian sớm nhất với kết quả đạt được là tuyệt vời nhất.</li>

<li><a href="#" title="Follow Us!">Hãy theo chúng tôi!!</a></li>
</ul>
</div>
<div class="col-md-3">
<h3>Thông Tin Liên Hệ</h3>
<ul>
<li class="phone">091.733.2950</li>
<li class="mail">lamthang307@gmail.com</li>
<li class="link">
<ul>
<li><img src="images/rss.png" alt="rss" /></li>
<li><img src="images/twitter.png" alt="twitter" /></li>
<li><img src="images/facebook.png" alt="facebook" /></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
<!-- End footer-->
<div id="copyright"> <span>©2014 Complexity HTML Theme - Web Design by <a href="" title="lt35">lt35</a> Productions</span> </div>