<!-- Begin Menu -->
<div class="container">

    <div id="header">
    	 <div class="disclaimer"></div>
        <ul class="topnav">
            <li><a href="/">Home</a></li>
            <li>
                <a href="thegioi">Thế Giới</a>
            </li>
            <li>
                <a href="kinhdoanh">Kinh Doanh</a>
                <ul class="subnav">
                    <li><a href="#">Sub Nav Link</a></li>
                    <li><a href="#">Sub Nav Link</a></li>

                    <li><a href="#">Sub Nav Link</a></li>
                    <li><a href="#">Sub Nav Link</a></li>
                    <li><a href="#">Sub Nav Link</a></li>
                    <li><a href="#">Sub Nav Link</a></li>
                </ul>
            </li>
            <li><a href="phapluat">Pháp Luật</a></li>

            <li><a href="thethao">Thể Thao</a></li>
      
          
        </ul>
    </div>
</div>
<!-- End Menu-->