body {
	margin: 0; padding: 0;
	font: 13px normal Arial, Helvetica, sans-serif;
	background: #ddd url(../images/menu/body_bg.gif) repeat-x;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#header {
	background: url(../images/menu/body_bg.gif) no-repeat center top;
	padding-top: 120px;
}
#header .disclaimer {
	color: #999;
	padding: 100px 0 7px 0;
	text-align: right;
	display: block;
	position: absolute;
	top: 0; right: 0;
}
#header .disclaimer a {	color: #ccc;}
ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 930px;
	background: #222;
	font-size: 1.2em;
	background: url(../images/menu/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../images/menu/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/menu/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/menu/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/menu/dropdown_linkbg.gif) no-repeat 10px center;
}
#header img {
	margin: 20px 0 10px;
}
#main {
background: none repeat scroll 0 0 #fff;
display: inline-block;
width: 100%;
}
.row {
margin-left: 0;
margin-right: 0;
}
.main_inner {
padding: 0 10px;
}
.main_inner h3 {
color: #474747;
font-size: 17px;
font-weight: bold;
}
.main_inner > p {
color: #474747;
float: left;
font-size: 12px;
line-height: 20	px;
width: 100%;
}
.main_inner img {
border: 1px solid #c7c7c7;
border-radius: 0px;
display: inline-block;
padding: 5px;
width: 100%;
}
#footer {
background: url("../images/footer-col-bg.png") repeat-x scroll 0 0 #191c21;

}
#footer h3 {
color: #a7a7a7;
font-size: 15px;
font-weight: bold;
}
.form-control {
background: url("../images/search.png") no-repeat scroll right center rgba(0, 0, 0, 0);
border: 1px solid #080d13;
width: 250px !important;
}
.arrow {
background: url("../images/arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
color: #a7a7a7;
padding-left: 10px;
width: 100%;
}
#footer li {
color: #a7a7a7;
margin: 5px 0 0;
width: 100%;
}
#footer li a{color: #fff;}
.phone {
background: url("../images/phone.png") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 20px;
}
.mail {
background: url("../images/mail.png") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 20px;
}
.contact {
background: url("../images/contact.png") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 20px;
}
.skype {
background: url("../images/skype.png") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 10px;
}
.link {
background: url("../images/link.png") no-repeat scroll left center rgba(0, 0, 0, 0);
padding-left: 0 -10px;
margin-left: -10px;
}
.link li {
display: inline;
padding: 0px;
}
#copyright {
background: url("../images/footer-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 55px;
padding: 15px 0;
text-align: center;
width: 100%;
}
#copyright span {
color: #969696;
}

