<div id="main">
<div class="row">
<div class="col-md-4">
<div class="main_inner">
<h3>Vừa rút tiền từ ATM vừa lo</h3>
<img src="images/kd1.png" alt="" />
<p>Một số ngân hàng thương mại đã tăng cường giải pháp phòng chống tội phạm đánh cắp tiền trong thẻ ATM dù có thể gây bất tiện cho khách hàng.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>Những dấu hiệu nhận diện chủ đầu tư lừa bán căn hộ</h3>
<img src="images/kd2.png" alt="" />
<p>Các thủ đoạn đó là: thay đổi tên dự án, đổi tên dự án và đổi chủ đầu tư, làm lại quy hoạch 1/500, cuối cùng là tăng giá so với cam kết giữa các bên với nhau.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>9 nhóm đối tượng được tăng lương từ ngày 1/7</h3>
<img src="images/kd3.png" alt="" />
<p>Chính phủ vừa ban hành Nghị định 47/2017/NĐ-CP quy định mức lương cơ sở, có hiệu lực thi hành từ ngày 1/7 tới.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
</div>
</div>