<div id="main">
<div class="row">
<div class="col-md-4">
<div class="main_inner">
<h3>'Bố già' của những băng đảng ma túy Mexico</h3>
<img src="images/pl1.png" alt="" />
<p>Ở tuổi 29, thông qua hoạt động phi pháp, Caro Quintero đã có 500 triệu USD trong tài khoản, 36 căn nhà và 300 công ty ma chuyên rửa tiền.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>Băng cướp đi xe máy gây khiếp sợ người dân ở London</h3>
<img src="images/pl2.png" alt="" />
<p>Gần đây, một băng cướp mới nổi lên ở thủ đô London, với những hành vi táo tợn. Chúng chuyên đi xe máy, dùng búa để đe dọa, trấn lột tài sản của người đi bộ.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>Cảnh sát khống chế 2 nghi phạm đánh nữ 9X để cướp xe tay ga</h3>
<img src="images/pl3.png" alt="" />
<p>Hai thanh niên sử dụng gậy gỗ đánh vào đầu cô gái 21 tuổi ở Sài Gòn để cướp chiếc xe tay ga. Chúng bị cảnh sát khống chế khi đang lưu thông trên đường.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
</div>
</div>