{{# each baiviets}}
<div id="main">
<div class="row">
    {{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="main_inner">
      <img src="{{this.anhbaiviet}}" alt="...">
      <div class="caption">
        <h3>{{this.tieude}}</h3>
        <p>{{this.tomtat}}</p>        
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
{{/each}}