<div id="main">
<div class="row">
<div class="col-md-4">
<div class="main_inner">
<h3>Bó bột và chống nạng, Ibra lần đầu xuất hiện sau phẫu thuật</h3>
<img src="images/tt1.png" alt="" />
<p>Dưới sự trợ giúp của đôi nạng, Ibrahimovic xuất hiện lần đầu trên báo chí với cái chân phải nẹp cứng sau ca phẫu thuật giải cứu sự nghiệp.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>James, Morata lập cú đúp giúp Real bám đuổi Barca</h3>
<img src="images/tt2.png" alt="" />
<p>Ra sân với đội hình dự bị nhưng chừng đó là quá đủ để Real Madrid nuốt chửng đội bóng tí hon Granada trong trận đấu ở vòng 36 La Liga.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
<div class="col-md-4">
<div class="main_inner">
<h3>Messi tiệm cận sự hoàn hảo sau loạt thống kê khó tin</h3>
<img src="images/tt3.png" alt="" />
<p>Không chỉ ghi bàn giỏi, Leo còn chứng minh cho cả thế giới biết rằng, anh còn là một chân kiến tạo cự phách.</p>
<span class="input-group-btn">
    <button type="button" class="btn btn-link"><a href="/thegioi">Xem thêm</a></button>
</span>
</div>
</div>
</div>
</div>